* {padding: 0; margin: 0; box-sizing: border-box; font-family: "Outfit", serif;}

html {font-size: 62.5%;}

#DivOne {width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; background-image: linear-gradient(hsl(0, 100%, 83%), hsl(36, 100%, 81%));}

#DivTwo {width: 35rem; height: 55rem; box-shadow: 0.1rem black;
border-radius: 1rem; background: #fff; padding: 2rem; text-align: center;
color: hsl(218, 44%, 22%);}

h1 {margin-bottom: 2.5rem; font-size: 2.5rem; } 

p {opacity: 0.6; font-size: 1.8rem; margin-bottom: 2.5rem;}

.ImageContainer img {width: 100%; height: 100%; margin-bottom: 2rem;
border-radius: 1rem;}